################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vscode
*.suo
*.user
bin
obj
packages